*{
	margin: 0px;
	padding: 0px;
}

.main {
	width: 100%;
}

.lato {
	font-family: 'Lato', sans-serif;
}
.padding {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}
.font-family {
	font-family: 'Lora', serif;
}
.font-roboto {
	font-family: 'Roboto', sans-serif;
}
.gradiant{
	position: relative;
	height: 459px;
	left: 0px;
	right: 0px;
	top: 0px;
	background: linear-gradient(180deg, #0000FD -437.12%, #06B2FF 100%);
}
.before_logo {
	position: absolute;
	width: 196px;
	height: 196px;
	left: calc(50% - 196px/2);
	top: calc(50% - 196px/2 + 0.5px);
	background: url(../image/logo.png);
}
.white_text {
	margin-left: 30px;
}
.white_text h5{
	font-family: 'Manrope', sans-serif;
	font-size: 20px;
	line-height: 27.6px;
	display: flex;
	color: #FFFFFF;
}
.bg{
	background: #F8F8F8;
}
.main_1040 {
	width: 1040px;
	margin: auto;
	/* Height:	Hug (6,560px); */
	height: 100%;
	Top : 491px;
	Left:120px;
	Gap:42px;
}
.h_sec_1{
	gap: 12px;
}
.text_header {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	display: flex;
	align-items: center;
	color: #222222;
	line-height:27.6px;
}
.text {
	font-family: 'Manrope';
	font-size: 14px;
	line-height: 146%;
	line-height:20.44px;
	color: #6D6D6D;
}
.sec_1{
	font-family: 'Manrope';	
	font-weight: 500;
	font-size: 16px;
	line-height: 152%;
	color: #6D6D6D;
}
.dropdown ul{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	margin-left: 20px;
	margin-top: 10px;
}
.dropdown ul li{
	color: #06B2FF;
}
.dropdown ul li a {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 152%;
	color: #06B2FF;
}
.dropdown ul li a:hover{
	text-decoration: none;
}
.h_sec_2{
	gap: 16px;	
}
.text{
	gap: 12px;
}
.text b{
	color: #222222;
}
.h_sec_3{
	gap: 16px;
}
.h_sec_4{
	margin-top: 40px;
	padding: 32px;
	gap: 12px;
	left: 36px;
	top: 72px;
	background: #F5F5F5;
}
.line-height{
	line-height: 2;
}
.h_sec_5{
	margin: 20px 0px;
	gap: 16px;
}
.sec_5_head h5{
	height: 28px;
	font-family: 'Manrope';
	font-weight: 700;
	font-size: 20px;
	line-height: 138%;
	color: #06B2FF;
}
.h_drop li{
	font-family: 'Manrope';
	font-size: 16px;
	margin-left: 15px;
	color: #000000;
}
.hed span{
	font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 152%;
color: #000000;
}
.gap{
	padding: 10px 12px;
	gap: 12px;
}
.pad_gap{
	padding: 8px;
	gap: 8px;
}
.gap h4{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 146%;
}
.h_sec_7{
	gap: 16px;
	height: 1752px;
}
.option{
	padding: 32px;
	gap: 32px;
	height: 1352px;
	background: #F5F5F5;
}
.box{
	width: 100%;
	height: 288px;
	border: 1px solid #B1B1B1;
}
.left{
	width: 272px;
	background: #FFFFFF;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	float: left;
	padding: 16px;
	border-color: #B1B1B1;
}
.right{
	width: 702px;
	float: right;
	padding: 16px;
	background: #FFFFFF;
	border-bottom: 1px solid #B1B1B1;
}
.left span , .right span{
	font-family: 'Manrope';
	text-align: center;
	font-size: 15px;
	line-height: 152%;
	text-align: justify;
	color: #6D6D6D;
}
.hg_left_1 {
	height: 80px;
}
.hg_left_2{
	height: 56px;
}
.hg_left_3{
	height: 152px;
}
.hg_left_4{
	height: 104px;
}
.hg_left_5{
	height: 200px;
}
.hg_left_6{
	height: 128px;
}
.box_sec_2{
	width: 976px;
	height: 640px;
	border:grey/400 #B1B1B1;
	border: 1px solid #B1B1B1;
}
.h_sec_8{
	height: 300px;
}
.blue_header h4{
	font-family: 'Manrope';
	font-style: bold;
	font-size: 24px;
	line-height: 132%;
	display: flex;
	align-items: center;
	background: linear-gradient(180deg, #070423 0%, #11215C 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.h_sec_9{
	padding: 52px;
	gap: 24px;
	background: #F5F5F5;
}
.footer_hed{
	font-weight: 600;
	font-family: 'Manrope';
	font-size: 16px;
	line-height: 152%;
	color: #222222;
}
.contact_us{
	padding: 24px;
	gap: 12px;
	width: 936px;
	height: 104px;
	text-align: center;
	background: linear-gradient(180deg, #070423 0%, #11215C 100%);
}
.white_head span{
	font-family: 'Manrope';
	font-size: 16px;
	color: #FFFFFF;
}
.white_head p{
	font-family: 'Manrope';
	color: #FFFFFF;
	font-size: 14px;
}
.extra_css {
	line-height: 1.5;
	font-size: 18px;
}

.font-size {
	color: #221341;
	font-size: 23px;
}

.m-top {
	margin-top: 8px;
}

.m-bottom {
	margin-bottom: 8px;
}

.mt {
	margin-top: 20px;
}

.diff_part {
	color: #49396a;
	font-size: 15px;
}

.f-size {
	color: #221341;
	font-size: 17px;
}

.diff_color {
	color: #6a6f82;
	font-size: 17px;
}

	
/* MEDIA QUERY */

@media only screen and (max-width: 352px) {
	body {
	  width: 352px;
	}
	section .main_1040{
		padding: 15px;
		width: 352px;
	}
	div .h_drop{
		
		margin-bottom: 0px;
		
	}
	div .h_drop li{
		font-size: 14px;
		flex: none;
		position: relative;
		order: 2;
		align-self: stretch;
		flex-grow: 0;
	
	}
	div .h_sec_7{
		display: none;
	}
	div .padding{
		padding: 20px;
	}
	div .h_drop li span{
		font-size: 14px;
		margin-left: 20px;
	}
	div .h_drop li span span{
	
		font-size: 14px;
		margin-left: 20px;	
	}
	div .text span li span{
		
		margin-left: 20px;	
	}
	div .media_352{
		padding-top: 30px;
	}
	div .text_header{
		padding-left: 0px;
	}
	div .contact_us{
		width: 240px;
		height: auto;
	}
	div .white_head p{
		margin-bottom: 0px;
	}
	
}
